* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    height: 100vh;
}

.left {
    width: 85%;
    border-right: solid;
    background-image: url("tren.png");
}

img {
    padding-top: 15px;
    padding-left: 15px;
}

#splash {
    font-size: x-large;
    font-family: monospace;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: hsla(32, 88%, 19%, 0.801);
}

.right {
    height: 100vh;
}

header {
    padding-left: 10px;
    height: 40%;
}

section {
    padding-left: 10px;
    height: 30%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formElement {
    padding-left: 5px;
    padding-top: 10px;
    margin: 10px;
    width: 33%;

    font-weight: bold;
}

.formElement > input {
    margin-left: 5px;
}

#gearButton {
    font-family: monospace;
    font-size: larger;
    margin: 25px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: rgb(226, 159, 35);
}

footer {
    height: 30%;
    background-image: linear-gradient(white, rgb(141, 95, 51));
}