* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    height: 100vh;
}

.left {
    width: 55%;
    border-right: solid;
    background-image: url("tren.png");
}

img {
    padding-top: 15px;
    padding-left: 15px;
}

#splash {
    font-size: x-large;
    font-family: monospace;
    color: white;
    margin-top: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: hsla(32, 88%, 19%, 0.801);
}

.right {
    width: 100%;    
    padding: 10px;
}

header {
    height: 33vh;
}

section {
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formElement {
    padding-left: 5px;
    padding-top: 10px;
    margin: 10px;
    width: 33%;

    font-weight: bold;
}

.formElement > input {
    margin-left: 5px;
}